<!DOCTYPE html>
<html lang="en">
<head>
  <title>DAT TITLE | {{ title | raw }}</title> <!-- stand for the parameter $title from the route -->
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    {% block head%}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{{ app.request.basepath }}/lib/js/jquery.min.js"></script>
  <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ app.request.basepath }}/lib/js/google_analytics.js"></script>
  {% block foot %}{% endblock %}
</body>
</html>


        
